commands:
  01_download_sqlite:
    command: >
      wget -O /tmp/sqlite-autoconf.tar.gz
      https://www.sqlite.org/2023/sqlite-autoconf-3390400.tar.gz

      if [ $? -ne 0 ]; then
        echo "Download failed"
        exit 1
      fi
  02_extract_sqlite:
    command: |
      cd /tmp
      tar xzvf sqlite-autoconf.tar.gz
      if [ $? -ne 0 ]; then
        echo "Extraction failed"
        exit 1
      fi
  03_install_sqlite:
    command: |
      cd /tmp/sqlite-autoconf-3390400
      ./configure
      if [ $? -ne 0 ]; then
        echo "Configure failed"
        exit 1
      fi
      make
      if [ $? -ne 0 ]; then
        echo "Make failed"
        exit 1
      fi
      sudo make install
      if [ $? -ne 0 ]; then
        echo "Installation failed"
        exit 1
      fi
      sudo ln -sf /usr/local/bin/sqlite3 /usr/bin/sqlite3
      if [ $? -ne 0 ]; then
        echo "Linking failed"
        exit 1
      fi