files:
  "/tmp/sqlite-autoconf.tar.gz":
    source: https://www.sqlite.org/2024/sqlite-autoconf-3460100.tar.gz
    mode: "000755"
    owner: root
    group: root

commands:
  01_install_sqlite:
    command: |
      cd /tmp
      tar xzvf sqlite-autoconf.tar.gz
      cd sqlite-autoconf-3390400
      ./configure
      make
      sudo make install
      sudo ln -sf /usr/local/bin/sqlite3 /usr/bin/sqlite3